#video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero {
    height: 100vh;
    width: 100%;
}

.hero .content {
    text-align: center;
    position: absolute;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    top: 25vh;
}

.hero .content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.hero .content h1 {
    font-size: 3rem;
    text-shadow: 1px 3px 3px #342b857c;
    color: #fff;
    animation: color-change 2.5s infinite;
}

@keyframes color-change {
    0% { color: white;; }
    50% { color: #7bffbf; }
    100% { color: #01ff85; }
  }

.hero p {
    font-size: 1.2rem;
    font-weight: 250;
    margin-bottom: 1.6rem;
    color: #fff;
}

.hero button {
    /* margin: 1rem .2rem; */
    border-radius: 10%;
    display: block;
    margin: 2rem auto;
    padding: 5px 8px;
    font-weight: 400;
    cursor: pointer;
    font-size: 22px;
    text-align: center;
    background: #01ff85;
    color: #014569;
    height: 3.2rem;
    width: 6rem;
}

.hero button:hover {
    background: #014569;
    color: #01ff85;
}

@media screen and (max-width:640px) {
    .content {
        flex-direction: column;
    }

    .content h1 {
        font-size: 100%;
    }

    .content p {
        font-size: 1.4rem;
        margin-bottom: 1.6rem;
    }
}